/!old/
/digital_mechanical_clock/zuseMemory/
/Windows/
/Thingiverse/
/Prusa/

# MPLAB
build/
desktop.ini
*.p1
*.i
*.d
*.cmf
*.elf
*.hxl
*.lst
*.map
*.o
*.sdb
*.sym
*.rlf
memoryfile.xml
private.xml
/3D Builder/
/covid19-masks/
/Dual_Extrusion_Calibration_using_Slic3r/
/gears-master
/zuse - Copy/
/poppydactyl/
/myco/
/nutsnbolts-master/
/Kora_Alpha_1.ini
/Kora_Alpha_PLA.ini
/AA Duracell Body-Plain.STEP
/AAA Batterie.step
/avocado/retina.jpg
/hand/screw1/
/hand/squish fit/
*.hex
