/!old/
/digital_mechanical_clock/zuseMemory/
/Windows/
/Thingiverse/
/Prusa/

# MPLAB
build/
desktop.ini
*.p1
*.i
*.d
*.cmf
*.elf
*.hxl
*.lst
*.map
*.o
*.sdb
*.sym
*.rlf
memoryfile.xml
private.xml
/3D Builder/
/covid19-masks/
/Dual_Extrusion_Calibration_using_Slic3r/
/gears-master
/zuse - Copy/
/poppydactyl/
